<!DOCTYPE HTML>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Twitteronia</title>

   <!-- Bootstrap Core CSS -->

   <link href="{{ url_for("static", filename="bootstrap.min.css") }}" rel="stylesheet">
 
   <!-- Custom CSS -->
   <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="./static/css/heatmap.css") }}" >


   <!-- Custom Fonts -->
   <link href="templates/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

   <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

   <!--Include mapbox.js and CSS in your HTML header and call L.mapbox.map('map', 'mapbox.streets') to load your first map. View simple example-->

   <script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.4/mapbox.js'></script>
   <link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.4/mapbox.css' rel='stylesheet' />

</head>

<body>

    <!-- putting in the form for tweet subject-->



    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">Projects</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="about.html" target="_blank">About</a>
                    </li>
                    <li>
                        <a href="work.html" target="_blank">Behind the idea</a>
                    </li>
                    <li>
                        <a href="#contact" target="_blank">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-2">
                    <div class="intro-message">
                        <h2>Twitteronia</h2>
                        <h3>Where are people talking about:</h3>
                        <div id="contact-form">
                            <!--<h1>Get in touch!</h1>-->
                            <form method="get" action="/">
                                <label for="twittersearch">Twitter search: </label>
                                <input type="text" id="twittersearch" name="twittersearch" value="" placeholder ="e.g. Trump the bastard" required-"required" autofocus="autofocus" />
                            </form>
                        </div>
                    </div>
                </div> 
                <div class="col-lg-10">
                    <div class="intro-map">
                        <div id='map'>
                            <iframe width='100%' height='700px'  src='https://a.tiles.mapbox.com/v4/unicornelia.pbc2l5ki/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1IjoidW5pY29ybmVsaWEiLCJhIjoiY2lsY2hvajVsMDA3NXdnbHpqaWZqaTNmbiJ9.yr-_GVPhMAVONAhT74DJkg'></iframe>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->



    <a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Get in touch with us.</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="index.html" target="_blank">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="About us.html" target="_blank">About us</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact" target="_blank">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Elli and Kornelia. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>



</body>


</html>